<?xml version='1.0' encoding='UTF-8'?>
<Installer>
    <Name>ONLYOFFICE</Name>
    <Version>4.0</Version>
    <Title>ONLYOFFICE</Title>
    <Publisher>Ascensio System SIA</Publisher>
    <TargetDir>/opt/onlyoffice</TargetDir>
    <Banner>inst_banner_small_png.png</Banner>
    <Watermark>inst_banner_large_png.png</Watermark>
    <Logo>logo_png.png</Logo>
    <ControlScript>controlscript.qs</ControlScript>
    <MaintenanceToolName>uninstaller</MaintenanceToolName>
</Installer>
