<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-docx</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word document (.docx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-xlsx</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel Workbook (.xlsx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-doc</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word 97 - 2004 document (.doc)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-xls</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel 97-2004 Workbook (.xls)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-ppt</string>
			<key>CFBundleTypeName</key>
			<string>PowerPoint 97-2003 Presentation (.ppt)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-odt</string>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ods</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-ods</string>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Spreadsheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.spreadsheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-odp</string>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Presentation (.odp)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.presentation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-rtf</string>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-txt</string>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-pdf</string>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-htm</string>
			<key>CFBundleTypeName</key>
			<string>HTM document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-html</string>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-ppsx</string>
			<key>CFBundleTypeName</key>
			<string>PowerPoint Show (.ppsx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.slideshow</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-pps</string>
			<key>CFBundleTypeName</key>
			<string>PowerPoint 97-2003 Show (.pps)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.pps</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dotx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word template (.dotx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xltx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel Template (.xltx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>potx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerPoint Template (.potx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pptx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-pptx</string>
			<key>CFBundleTypeName</key>
			<string>PowerPoint Presentation (.pptx)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.presentation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ott</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-ott</string>
			<key>CFBundleTypeName</key>
			<string>Open Document text template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.text-template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ots</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-ots</string>
			<key>CFBundleTypeName</key>
			<string>Open Document spreadsheet template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.spreadsheet-template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>otp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-otp</string>
			<key>CFBundleTypeName</key>
			<string>Open Document presentation template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.presentation-template</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fodt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-fodt</string>
			<key>CFBundleTypeName</key>
			<string>Float Open Document text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fods</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-fods</string>
			<key>CFBundleTypeName</key>
			<string>Float Open Document spreadsheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-csv</string>
			<key>CFBundleTypeName</key>
			<string>CSV Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.comma-separated-values-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>djvu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-djvu</string>
			<key>CFBundleTypeName</key>
			<string>DjVu File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-xml</string>
			<key>CFBundleTypeName</key>
			<string>XML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-xps</string>
			<key>CFBundleTypeName</key>
			<string>XML Paper Specification</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epub</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-epub</string>
			<key>CFBundleTypeName</key>
			<string>Electronic Publication (EPUB)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.idpf.epub-container</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mht</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-mht</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word MHTML document (.mht)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fb2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-fb2</string>
			<key>CFBundleTypeName</key>
			<string>FictionBook File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docxf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-docxf</string>
			<key>CFBundleTypeName</key>
			<string>ONLYOFFICE Document Form Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oform</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file-oform</string>
			<key>CFBundleTypeName</key>
			<string>ONLYOFFICE Fillable Online Form</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oo-office</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>531</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Once ONLYOFFICE Desktop Editors has permission, document tabs will be able to ask you for access.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Once ONLYOFFICE Desktop Editors has permission, document tabs will be able to ask you for access.</string>
	<key>NSCameraUsageDescription</key>
	<string>Once ONLYOFFICE Desktop Editors has permission, document tabs will be able to ask you for access.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Ascensio System SIA. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Once ONLYOFFICE Desktop Editors has permission, document tabs will be able to ask you for access.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://download.onlyoffice.com/install/desktop/editors/mac/arm/onlyoffice.xml</string>
	<key>SUPublicEDKey</key>
	<string>N2LfKoNN6LkD5qNMjt+lEh6LYrQMEFNCEXQ3Kk6nTlM=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
