#pragma code_page(65001)
#include "src/resource.h"
#include <windows.h>


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML Document"
    IDS_XLSX  "Office Open XML Spreadsheet"
    IDS_PPTX  "Office Open XML Presentation"
    IDS_PDF   "PDF Form"

    IDS_NEW_DOCX  "New Office Open XML Document"
    IDS_NEW_XLSX  "New Office Open XML Spreadsheet"
    IDS_NEW_PPTX  "New Office Open XML Presentation"
    IDS_NEW_PDF   "New PDF Form"
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

LANGUAGE LANG_ARABIC, SUBLANG_ARABIC_SAUDI_ARABIA

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

LANGUAGE LANG_CATALAN, SUBLANG_DEFAULT

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

LANGUAGE LANG_GREEK, SUBLANG_DEFAULT

LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT

LANGUAGE LANG_LAO, SUBLANG_DEFAULT

LANGUAGE LANG_DUTCH, SUBLANG_DUTCH


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Документ Office Open XML"
    IDS_XLSX  "Электронная таблица Office Open XML"
    IDS_PPTX  "Презентация Office Open XML"
    IDS_PDF   "PDF-форма"

    IDS_NEW_DOCX  "Новый Документ Office Open XML"
    IDS_NEW_XLSX  "Новая Электронная таблица Office Open XML"
    IDS_NEW_PPTX  "Новая Презентация Office Open XML"
    IDS_NEW_PDF   "Новая PDF-форма"
END

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH

LANGUAGE LANG_INDONESIAN, SUBLANG_DEFAULT

LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

LANGUAGE LANG_VIETNAMESE, SUBLANG_DEFAULT

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

LANGUAGE LANG_ARMENIAN, SUBLANG_DEFAULT

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

LANGUAGE LANG_LATVIAN, SUBLANG_DEFAULT

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

LANGUAGE LANG_BELARUSIAN, SUBLANG_DEFAULT

LANGUAGE LANG_GALICIAN, SUBLANG_DEFAULT

LANGUAGE LANG_SINHALESE, SUBLANG_DEFAULT

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

LANGUAGE LANG_SERBIAN, SUBLANG_SERBIAN_LATIN

LANGUAGE LANG_SERBIAN, SUBLANG_SERBIAN_CYRILLIC
