#pragma code_page(65001)
#include "src/resource.h"
#include <windows.h>


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML Document"
    IDS_XLSX  "Office Open XML Spreadsheet"
    IDS_PPTX  "Office Open XML Presentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "New Office Open XML Document"
    IDS_NEW_XLSX  "New Office Open XML Spreadsheet"
    IDS_NEW_PPTX  "New Office Open XML Presentation"
    IDS_NEW_PDF   "New PDF"

    IDS_JUMP_DOCX  "New document"
    IDS_JUMP_XLSX  "New spreadsheet"
    IDS_JUMP_PPTX  "New presentation"
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML Document"
    IDS_XLSX  "Office Open XML Spreadsheet"
    IDS_PPTX  "Office Open XML Presentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "New Office Open XML Document"
    IDS_NEW_XLSX  "New Office Open XML Spreadsheet"
    IDS_NEW_PPTX  "New Office Open XML Presentation"
    IDS_NEW_PDF   "New PDF"

    IDS_JUMP_DOCX  "New document"
    IDS_JUMP_XLSX  "New spreadsheet"
    IDS_JUMP_PPTX  "New presentation"
END

LANGUAGE LANG_ARABIC, SUBLANG_ARABIC_SAUDI_ARABIA
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML مستند"
    IDS_XLSX  "Office Open XML جدول بياني"
    IDS_PPTX  "Office Open XML عرض تقديمي"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "جديد Office Open XML مستند"
    IDS_NEW_XLSX  "جديد Office Open XML جدول بياني"
    IDS_NEW_PPTX  "جديد Office Open XML عرض تقديمي"
    IDS_NEW_PDF   "PDF جديد"

    IDS_JUMP_DOCX  "مستند جديد"
    IDS_JUMP_XLSX  "جدول بياني جديد"
    IDS_JUMP_PPTX  "عرض تقديمي جديد"
END

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML документ"
    IDS_XLSX  "Office Open XML таблица"
    IDS_PPTX  "Office Open XML презентация"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Нов Office Open XML документ"
    IDS_NEW_XLSX  "Нова Office Open XML таблица"
    IDS_NEW_PPTX  "Нова Office Open XML презентация"
    IDS_NEW_PDF   "Нов PDF"

    IDS_JUMP_DOCX  "Нов документ"
    IDS_JUMP_XLSX  "Нова електронна таблица"
    IDS_JUMP_PPTX  "Нова презентация"
END

LANGUAGE LANG_CATALAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Document Office Open XML"
    IDS_XLSX  "Full de càlcul Office Open XML"
    IDS_PPTX  "Presentació Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nou document Office Open XML"
    IDS_NEW_XLSX  "Nou full de càlcul Office Open XML"
    IDS_NEW_PPTX  "Nova presentació Office Open XML"
    IDS_NEW_PDF   "Nou PDF"

    IDS_JUMP_DOCX  "Nou document"
    IDS_JUMP_XLSX  "Nou full de càlcul"
    IDS_JUMP_PPTX  "Nova presentació"
END

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Dokument Office Open XML"
    IDS_XLSX  "Tabulkový procesor Office Open XML"
    IDS_PPTX  "Prezentace Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nový dokument Office Open XML"
    IDS_NEW_XLSX  "Nový tabulkový procesor Office Open XML"
    IDS_NEW_PPTX  "Nová prezentace Office Open XML"
    IDS_NEW_PDF   "Nový PDF"

    IDS_JUMP_DOCX  "Nový dokument"
    IDS_JUMP_XLSX  "Nový sešit"
    IDS_JUMP_PPTX  "Nová prezentace"
END

LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Έγγραφο Office με ανοιχτή μορφή XML"
    IDS_XLSX  "Υπολογιστικό φύλλο Office με ανοιχτή μορφή XML"
    IDS_PPTX  "Παρουσίαση Office με ανοιχτή μορφή XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Νέο έγγραφο Office με ανοιχτή μορφή XML"
    IDS_NEW_XLSX  "Νέα υπολογιστικό φύλλο Office με ανοιχτή μορφή XML"
    IDS_NEW_PPTX  "Νέα παρουσίαση Office με ανοιχτή μορφή XML"
    IDS_NEW_PDF   "Νέο PDF"

    IDS_JUMP_DOCX  "Νέο έγγραφο"
    IDS_JUMP_XLSX  "Νέο λογιστικό φύλλο"
    IDS_JUMP_PPTX  "Νέα παρουσίαση"
END

LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Officen avoin XML-asiakirja"
    IDS_XLSX  "Officen avoin XML-laskentataulukko"
    IDS_PPTX  "Officen avoin XML-esitys"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Uusi Officen avoin XML-asiakirja"
    IDS_NEW_XLSX  "Uusi Officen avoin XML-laskentataulukko"
    IDS_NEW_PPTX  "Uusi Officen avoin XML-esitys"
    IDS_NEW_PDF   "Uusi PDF"

    IDS_JUMP_DOCX  "Uusi asiakirja"
    IDS_JUMP_XLSX  "Uusi laskentataulukko"
    IDS_JUMP_PPTX  "Uusi esitys"
END

LANGUAGE LANG_LAO, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "ເປີດເອກະສານ XML"
    IDS_XLSX  "ເປີດຕາຕະລາງ XML"
    IDS_PPTX  "ການນຳສະເໜີ XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "ເປີດເອກະສານ XML ໃໝ່"
    IDS_NEW_XLSX  "ເປີດຕາຕະລາງ XML ໃໝ່"
    IDS_NEW_PPTX  "ການນຳສະເໜີ XML ໃໝ່"
    IDS_NEW_PDF   "PDF ໃໝ່"

    IDS_JUMP_DOCX  "ເອກະສານໃໝ່"
    IDS_JUMP_XLSX  "ຕາຕະລາງໃໝ່"
    IDS_JUMP_PPTX  "ບົດນຳສະເໜີໃໝ່"
END

LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML-document"
    IDS_XLSX  "Office Open XML-spreadsheet"
    IDS_PPTX  "Office Open XML-presentatie"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nieuw Office Open XML-document"
    IDS_NEW_XLSX  "Nieuwe Office Open XML-spreadsheet"
    IDS_NEW_PPTX  "Nieuwe Office Open XML-presentatie"
    IDS_NEW_PDF   "Nieuw PDF"

    IDS_JUMP_DOCX  "Nieuw Document"
    IDS_JUMP_XLSX  "Nieuw werkblad"
    IDS_JUMP_PPTX  "Nieuwe presentatie"
END

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Документ Office Open XML"
    IDS_XLSX  "Электронная таблица Office Open XML"
    IDS_PPTX  "Презентация Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Новый документ Office Open XML"
    IDS_NEW_XLSX  "Новая электронная таблица Office Open XML"
    IDS_NEW_PPTX  "Новая презентация Office Open XML"
    IDS_NEW_PDF   "Новый PDF"

    IDS_JUMP_DOCX  "Новый документ"
    IDS_JUMP_XLSX  "Новая таблица"
    IDS_JUMP_PPTX  "Новая презентация"
END

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML-Dokument"
    IDS_XLSX  "Office Open XML-Tabellenkalkulation"
    IDS_PPTX  "Office Open XML-Präsentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Neues Office Open XML-Dokument"
    IDS_NEW_XLSX  "Neue Office Open XML-Tabellenkalkulation"
    IDS_NEW_PPTX  "Neue Office Open XML-Präsentation"
    IDS_NEW_PDF   "Neues PDF"

    IDS_JUMP_DOCX  "Neues Dokument"
    IDS_JUMP_XLSX  "Neue Tabelle"
    IDS_JUMP_PPTX  "Neue Präsentation"
END

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
STRINGTABLE
BEGIN
    IDS_DOCX  "Document Office Open XML"
    IDS_XLSX  "Feuille de calcul Office Open XML"
    IDS_PPTX  "Présentation Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nouveau document Office Open XML"
    IDS_NEW_XLSX  "Nouvelle feuille de calcul Office Open XML"
    IDS_NEW_PPTX  "Nouvelle présentation Office Open XML"
    IDS_NEW_PDF   "Nouveau PDF"

    IDS_JUMP_DOCX  "Nouveau document"
    IDS_JUMP_XLSX  "Nouvelle feuille de calcul"
    IDS_JUMP_PPTX  "Nouvelle présentation"
END

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH
STRINGTABLE
BEGIN
    IDS_DOCX  "Documento Office Open XML"
    IDS_XLSX  "Hoja de cálculo Office Open XML"
    IDS_PPTX  "Presentación Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nuevo documento Office Open XML"
    IDS_NEW_XLSX  "Nueva hoja de cálculo Office Open XML"
    IDS_NEW_PPTX  "Nueva presentación Office Open XML"
    IDS_NEW_PDF   "Nuevo PDF"

    IDS_JUMP_DOCX  "Nuevo documento"
    IDS_JUMP_XLSX  "Nueva hoja de cálculo"
    IDS_JUMP_PPTX  "Nueva presentación"
END

LANGUAGE LANG_INDONESIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML Document"
    IDS_XLSX  "Office Open XML Spreadsheet"
    IDS_PPTX  "Office Open XML Presentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Office Open XML Document baru"
    IDS_NEW_XLSX  "Office Open XML Spreadsheet baru"
    IDS_NEW_PPTX  "Office Open XML Presentation baru"
    IDS_NEW_PDF   "PDF baru"

    IDS_JUMP_DOCX  "Dokumen baru"
    IDS_JUMP_XLSX  "Lembar kerja baru"
    IDS_JUMP_PPTX  "Presentasi baru"
END

LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
STRINGTABLE
BEGIN
    IDS_DOCX  "Documento Open Office XML"
    IDS_XLSX  "Foglio di calcolo Open Office XML"
    IDS_PPTX  "Presentazione Open Office XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nuovo documento Open Office XML"
    IDS_NEW_XLSX  "Nuovo foglio di calcolo Open Office XML"
    IDS_NEW_PPTX  "Nuova presentazione Open Office XML"
    IDS_NEW_PDF   "Nuovo PDF"

    IDS_JUMP_DOCX  "Nuovo documento"
    IDS_JUMP_XLSX  "Nuovo foglio elettronico"
    IDS_JUMP_PPTX  "Nuova presentazione"
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
STRINGTABLE
BEGIN
    IDS_DOCX  "Documento Office Open XML"
    IDS_XLSX  "Planilha do Office Open XML"
    IDS_PPTX  "Apresentação do Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Novo documento Office Open XML"
    IDS_NEW_XLSX  "Nova planilha do Office Open XML"
    IDS_NEW_PPTX  "Nova apresentação do Office Open XML"
    IDS_NEW_PDF   "Novo PDF"

    IDS_JUMP_DOCX  "Novo documento"
    IDS_JUMP_XLSX  "Nova planilha"
    IDS_JUMP_PPTX  "Nova apresentação"
END

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE
STRINGTABLE
BEGIN
    IDS_DOCX  "Documento Office Open XML"
    IDS_XLSX  "Folha de cálculo XML Open Office"
    IDS_PPTX  "Apresentação em XML Open Office"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Novo documento Office Open XML"
    IDS_NEW_XLSX  "Nova folha de cálculo XML Open Office"
    IDS_NEW_PPTX  "Nova apresentação em XML Open Office"
    IDS_NEW_PDF   "Novo PDF"

    IDS_JUMP_DOCX  "Novo documento"
    IDS_JUMP_XLSX  "Nova folha de cálculo"
    IDS_JUMP_PPTX  "Nova apresentação"
END

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Dokument Open Office XML"
    IDS_XLSX  "Arkusz kalkulacyjny Open Office XML"
    IDS_PPTX  "Prezentacja Open Office XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nowy dokument Open Office XML"
    IDS_NEW_XLSX  "Nowy arkusz kalkulacyjny Open Office XML"
    IDS_NEW_PPTX  "Nowa prezentacja Open Office XML"
    IDS_NEW_PDF   "Nowy PDF"

    IDS_JUMP_DOCX  "Nowy dokument"
    IDS_JUMP_XLSX  "Nowy arkusz kalkulacyjny"
    IDS_JUMP_PPTX  "Nowa prezentacja"
END

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Document Office Open XML"
    IDS_XLSX  "Foaia de calcul Office Open XML"
    IDS_PPTX  "Prezentare Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Document Office Open XML nou"
    IDS_NEW_XLSX  "Foaia de calcul Office Open XML noua"
    IDS_NEW_PPTX  "Prezentare Office Open XML noua"
    IDS_NEW_PDF   "PDF nou"

    IDS_JUMP_DOCX  "Document nou"
    IDS_JUMP_XLSX  "Foaie de calcul nouă"
    IDS_JUMP_PPTX  "Prezentare nouă"
END

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Dokument Office Open XML"
    IDS_XLSX  "Tabuľka Office Open XML"
    IDS_PPTX  "Prezentácia Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nový dokument Office Open XML"
    IDS_NEW_XLSX  "Nová tabuľka Office Open XML"
    IDS_NEW_PPTX  "Nová prezentácia Office Open XML"
    IDS_NEW_PDF   "Nový PDF"

    IDS_JUMP_DOCX  "Nový dokument"
    IDS_JUMP_XLSX  "Nová tabuľka"
    IDS_JUMP_PPTX  "Nová prezentácia"
END

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML dokument"
    IDS_XLSX  "Office Open XML preglednica"
    IDS_PPTX  "Office Open XML predstavitev"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Novi Office Open XML dokument"
    IDS_NEW_XLSX  "Nova Office Open XML preglednica"
    IDS_NEW_PPTX  "Nova Office Open XML predstavitev"
    IDS_NEW_PDF   "Novi PDF"

    IDS_JUMP_DOCX  "Nov dokument"
    IDS_JUMP_XLSX  "Nova razpredelnica"
    IDS_JUMP_PPTX  "Nova predstavitev"
END

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML-dokument"
    IDS_XLSX  "Office Open XML-kalkylblad"
    IDS_PPTX  "Office Open XML-presentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nytt Office Open XML-dokument"
    IDS_NEW_XLSX  "Nytt Office Open XML-kalkylblad"
    IDS_NEW_PPTX  "Ny Office Open XML-presentation"
    IDS_NEW_PDF   "Nytt PDF"

    IDS_JUMP_DOCX  "Nytt dokument"
    IDS_JUMP_XLSX  "Nytt kalkylblad"
    IDS_JUMP_PPTX  "Ny presentation"
END

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML Belgesi"
    IDS_XLSX  "Office Open XML Elektronik Tablosu"
    IDS_PPTX  "Office Open XML Sunumu"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Yeni Office Open XML Belgesi"
    IDS_NEW_XLSX  "Yeni Office Open XML Elektronik Tablosu"
    IDS_NEW_PPTX  "Yeni Office Open XML Sunumu"
    IDS_NEW_PDF   "Yeni PDF"

    IDS_JUMP_DOCX  "Yeni Belge"
    IDS_JUMP_XLSX  "Yeni Hesap Tablosu"
    IDS_JUMP_PPTX  "Yeni Sunum"
END

LANGUAGE LANG_VIETNAMESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Tài liệu Office Open XML"
    IDS_XLSX  "Bảng tính Office Open XML"
    IDS_PPTX  "Bản trình bày Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Tài liệu Office Open XML mới"
    IDS_NEW_XLSX  "Bảng tính Office Open XML mới"
    IDS_NEW_PPTX  "Bản trình bày Office Open XML mới"
    IDS_NEW_PDF   "PDF mới"

    IDS_JUMP_DOCX  "Tài liệu mới"
    IDS_JUMP_XLSX  "Bảng tính mới"
    IDS_JUMP_PPTX  "Bản trình chiếu mới"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML 文档"
    IDS_XLSX  "Office Open XML 电子表格"
    IDS_PPTX  "Office Open XML 演示文稿"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "新建 Office Open XML 文档"
    IDS_NEW_XLSX  "新建 Office Open XML 电子表格"
    IDS_NEW_PPTX  "新建 Office Open XML 演示文稿"
    IDS_NEW_PDF   "新建 PDF"

    IDS_JUMP_DOCX  "新建文档"
    IDS_JUMP_XLSX  "新建表格"
    IDS_JUMP_PPTX  "新建幻灯片"
END

LANGUAGE LANG_ARMENIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML փաստաթուղթ"
    IDS_XLSX  "Office Open XML աղյուսակ"
    IDS_PPTX  "Office Open XML ներկայացում"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Նոր Office Open XML փաստաթուղթ"
    IDS_NEW_XLSX  "Նոր Office Open XML աղյուսակ"
    IDS_NEW_PPTX  "Նոր Office Open XML ներկայացում"
    IDS_NEW_PDF   "Նոր PDF"

    IDS_JUMP_DOCX  "Նոր փաստաթուղթ"
    IDS_JUMP_XLSX  "Նոր աղյուսակաթերթ"
    IDS_JUMP_PPTX  "Նոր ներկայացում"
END

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML-dokument"
    IDS_XLSX  "Office Open XML-regneark"
    IDS_PPTX  "Office Open XML-præsentation"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nyt Office Open XML-dokument"
    IDS_NEW_XLSX  "Nyt Office Open XML-regneark"
    IDS_NEW_PPTX  "Ny Office Open XML-præsentation"
    IDS_NEW_PDF   "Nyt PDF"

    IDS_JUMP_DOCX  "Nyt dokument"
    IDS_JUMP_XLSX  "Nyt regneark"
    IDS_JUMP_PPTX  "Ny præsentation"
END

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office nyílt XML formátumú dokumentum"
    IDS_XLSX  "Office Open XML munkafüzet"
    IDS_PPTX  "Office Open XML prezentáció"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Új Office nyílt XML formátumú dokumentum"
    IDS_NEW_XLSX  "Új Office Open XML munkafüzet"
    IDS_NEW_PPTX  "Új Office Open XML prezentáció"
    IDS_NEW_PDF   "Új PDF"

    IDS_JUMP_DOCX  "Új dokumentum"
    IDS_JUMP_XLSX  "Új táblázat"
    IDS_JUMP_PPTX  "Új bemutató"
END

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office オープン XML ドキュメント"
    IDS_XLSX  "Office オープン XML スプレッドシート"
    IDS_PPTX  "Office オープン XML プレゼンテーション"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "新しいOffice オープン XML ドキュメント"
    IDS_NEW_XLSX  "新しいOffice オープン XML スプレッドシート"
    IDS_NEW_PPTX  "新しいOffice オープン XML プレゼンテーション"
    IDS_NEW_PDF   "新しいPDF"

    IDS_JUMP_DOCX  "新しいドキュメント"
    IDS_JUMP_XLSX  "新しいスプレッドシート"
    IDS_JUMP_PPTX  "新しいプレゼンテーション"
END

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML 문서"
    IDS_XLSX  "Office Open XML 스프레드시트"
    IDS_PPTX  "Office Open XML 프레젠테이션"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "새로운 Office Open XML 문서"
    IDS_NEW_XLSX  "새로운 Office Open XML 스프레드시트"
    IDS_NEW_PPTX  "새로운 Office Open XML 프레젠테이션"
    IDS_NEW_PDF   "새로운 PDF"

    IDS_JUMP_DOCX  "신규 문서"
    IDS_JUMP_XLSX  "새로운 스프레드 시트"
    IDS_JUMP_PPTX  "새 프리젠 테이션"
END

LANGUAGE LANG_LATVIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML dokuments"
    IDS_XLSX  "Office Open XML izklājlapa"
    IDS_PPTX  "Office Open XML prezentācija"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Jauns Office Open XML dokuments"
    IDS_NEW_XLSX  "Jauna Office Open XML izklājlapa"
    IDS_NEW_PPTX  "Jauna Office Open XML prezentācija"
    IDS_NEW_PDF   "Jauns PDF"

    IDS_JUMP_DOCX  "Jauns dokuments"
    IDS_JUMP_XLSX  "Jauna tabula"
    IDS_JUMP_PPTX  "Jauna prezentācija"
END

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML-dokument"
    IDS_XLSX  "Office Open XML-regneark"
    IDS_PPTX  "Office Open XML-presentasjon"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Nytt Office Open XML-dokument"
    IDS_NEW_XLSX  "Nytt Office Open XML-regneark"
    IDS_NEW_PPTX  "Ny Office Open XML-presentasjon"
    IDS_NEW_PDF   "Nytt PDF"

    IDS_JUMP_DOCX  "Nytt dokument"
    IDS_JUMP_XLSX  "Nytt regneark"
    IDS_JUMP_PPTX  "Ny presentasjon"
END

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Документ Office Open XML"
    IDS_XLSX  "Електронна таблиця Office Open XML"
    IDS_PPTX  "Презентація Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Новий документ Office Open XML"
    IDS_NEW_XLSX  "Нова електронна таблиця Office Open XML"
    IDS_NEW_PPTX  "Нова презентація Office Open XML"
    IDS_NEW_PDF   "Новий PDF"

    IDS_JUMP_DOCX  "Новий документ"
    IDS_JUMP_XLSX  "Нова таблиця"
    IDS_JUMP_PPTX  "Нова презентація"
END

LANGUAGE LANG_BELARUSIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Дакумент Office Open XML"
    IDS_XLSX  "Электронная табліца Office Open XML"
    IDS_PPTX  "Прэзентацыя Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Новы дакумент Office Open XML"
    IDS_NEW_XLSX  "Новая электронная табліца Office Open XML"
    IDS_NEW_PPTX  "Новая прэзентацыя Office Open XML"
    IDS_NEW_PDF   "Новы PDF"

    IDS_JUMP_DOCX  "Новы дакумент"
    IDS_JUMP_XLSX  "Новая электронная табліца"
    IDS_JUMP_PPTX  "Новая прэзентацыя"
END

LANGUAGE LANG_GALICIAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "Documento Office Open XML"
    IDS_XLSX  "Folla de cálcula Office Open XML"
    IDS_PPTX  "Presentación do Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Novo documento Office Open XML"
    IDS_NEW_XLSX  "Nova folla de cálcula Office Open XML"
    IDS_NEW_PPTX  "Nova presentación do Office Open XML"
    IDS_NEW_PDF   "Novo PDF"

    IDS_JUMP_DOCX  "Novo documento"
    IDS_JUMP_XLSX  "Nova folla de cálculo"
    IDS_JUMP_PPTX  "Nova presentación"
END

LANGUAGE LANG_SINHALESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "ඔෆිස් විවෘත XML ලේඛනය"
    IDS_XLSX  "ඔෆිස් විවෘත XML පැතුරුම්පත"
    IDS_PPTX  "ඔෆිස් විවෘත XML සමර්පණය"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "නව ඔෆිස් විවෘත XML ලේඛනය"
    IDS_NEW_XLSX  "නව ඔෆිස් විවෘත XML පැතුරුම්පත"
    IDS_NEW_PPTX  "නව ඔෆිස් විවෘත XML සමර්පණය"
    IDS_NEW_PDF   "නව PDF"

    IDS_JUMP_DOCX  "නව ලේඛනය"
    IDS_JUMP_XLSX  "නව පැතුරුම්පත"
    IDS_JUMP_PPTX  "නව සමර්පණය"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML 文件"
    IDS_XLSX  "Office Open XML 試算表"
    IDS_PPTX  "Office Open XML 簡報"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "新的 Office Open XML 文件"
    IDS_NEW_XLSX  "新的 Office Open XML 試算表"
    IDS_NEW_PPTX  "新的 Office Open XML 簡報"
    IDS_NEW_PDF   "新的 PDF"

    IDS_JUMP_DOCX  "新文件"
    IDS_JUMP_XLSX  "新試算表"
    IDS_JUMP_PPTX  "新簡報"
END

LANGUAGE LANG_SERBIAN, SUBLANG_SERBIAN_LATIN
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML dokument"
    IDS_XLSX  "Office Open XML proračunska tabela"
    IDS_PPTX  "Office Open XML prezentacija"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Novi Office Open XML dokument"
    IDS_NEW_XLSX  "Nova Office Open XML proračunska tabela"
    IDS_NEW_PPTX  "Nova Office Open XML prezentacija"
    IDS_NEW_PDF   "Novi PDF"

    IDS_JUMP_DOCX  "Novi dokument"
    IDS_JUMP_XLSX  "Nova proračunska tabela"
    IDS_JUMP_PPTX  "Nova prezentacija"
END

LANGUAGE LANG_SERBIAN, SUBLANG_SERBIAN_CYRILLIC
STRINGTABLE
BEGIN
    IDS_DOCX  "Office Open XML документ"
    IDS_XLSX  "Office Open XML прорачунска табела"
    IDS_PPTX  "Office Open XML презентација"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Нови Office Open XML документ"
    IDS_NEW_XLSX  "Нова Office Open XML прорачунска табела"
    IDS_NEW_PPTX  "Нова Office Open XML презентација"
    IDS_NEW_PDF   "Нови PDF"

    IDS_JUMP_DOCX  "Нови документ"
    IDS_JUMP_XLSX  "Нова прорачунска табела"
    IDS_JUMP_PPTX  "Нова презентација"
END

LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "מסמך Office Open XML"
    IDS_XLSX  "גיליון אלקטרוני Office Open XML"
    IDS_PPTX  "מצגת Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "מסמך Office Open XML חדש"
    IDS_NEW_XLSX  "גיליון אלקטרוני Office Open XML חדש"
    IDS_NEW_PPTX  "מצגת Office Open XML חדש"
    IDS_NEW_PDF   "PDF חדש"

    IDS_JUMP_DOCX  "מסמך חדש"
    IDS_JUMP_XLSX  "גיליון אלקטרוני חדש"
    IDS_JUMP_PPTX  "מצגת חדשה"
END

LANGUAGE LANG_ALBANIAN, SUBLANG_ALBANIAN_ALBANIA
STRINGTABLE
BEGIN
    IDS_DOCX  "Dokumenti Office Open XML"
    IDS_XLSX  "Fletëllogaritëse Office Open XML"
    IDS_PPTX  "Prezantimi Office Open XML"
    IDS_PDF   "PDF"

    IDS_NEW_DOCX  "Dokumenti Office Open XML i ri"
    IDS_NEW_XLSX  "Fletëllogaritëse Office Open XML e re"
    IDS_NEW_PPTX  "Prezantimi Office Open XML i ri"
    IDS_NEW_PDF   "PDF i ri"

    IDS_JUMP_DOCX  "Dokument i ri"
    IDS_JUMP_XLSX  "Fletëllogaritëse e re"
    IDS_JUMP_PPTX  "Prezantim i ri"
END

LANGUAGE LANG_URDU, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_DOCX  "آفس اوپن XML دستاویز"
    IDS_XLSX  "آفس اوپن XML اسپریڈشیٹ"
    IDS_PPTX  "آفس اوپن XML پریزنٹیشن"
    IDS_PDF   "پی ڈی ایف"

    IDS_NEW_DOCX  "نیا آفس اوپن XML دستاویز"
    IDS_NEW_XLSX  "نیا آفس اوپن XML اسپریڈشیٹ"
    IDS_NEW_PPTX "نیا آفس اوپن XML پریزنٹیشن"
    IDS_NEW_PDF   "نیا پی ڈی ایف"

    IDS_JUMP_DOCX  "نئی دستاویز"
    IDS_JUMP_XLSX  "نئی اسپریڈشیٹ"
    IDS_JUMP_PPTX  "نئی پیشکش"
END
