
win-linux/build
win-linux/3dparty/WinSparkle/win_32
win-linux/3dparty/WinSparkle/win_64
win-linux/extras/projicons/build
win-linux/extras/update-daemon/build
win-linux/extras/update-daemon/res/gresource.c
win-linux/extras/online-installer/build
win-linux/ASCDocumentEditor.build/*
win-linux/res/gresource.c

win-linux/package/linux/build
win-linux/package/linux/deb*/build
win-linux/package/linux/deb*/*.buildinfo
win-linux/package/linux/deb*/*.changes
win-linux/package/linux/deb*/*.ddeb
win-linux/package/linux/deb*/*.deb
win-linux/package/linux/rpm*/build
win-linux/package/linux/rpm*/*desktopeditors.spec
win-linux/package/linux/tar

common/loginpage/res/img/generated/*
common/loginpage/build/plugins/*
common/**/node_modules/*
common/loginpage/deploy/*
common/loginpage/src/dlglogin.min.js
common/converter/*
common/changes/*/changes_???
common/changes/*/news_???
*/.svn/*

.DS_Store
Makefile
Makefile.*
*.stash
*.user
*.user.*
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
.idea
.env.secret
.qtc_clangd
dsa_priv.pem
Gemfile.lock
package-lock.json
macos/build
macos/fastlane/node_modules
macos/fastlane/README.md
macos/fastlane/report.xml
macos/Vendor/ONLYOFFICE