
win-linux/build/Release/*
win-linux/build/Debug/*
win-linux/ASCDocumentEditor.build/*

win-linux/*.user

win-linux/package/linux/index.html
win-linux/package/windows/index.html

win-linux/package/linux/common/opt
win-linux/package/linux/common/usr/share/applications/variables.m4
win-linux/package/linux/common/usr/share/flyfm/templates/desktopeditors.*.desktop
win-linux/package/linux/deb/debian/.debhelper
win-linux/package/linux/deb/debian/*.debhelper.log
win-linux/package/linux/deb/debian/changelog
win-linux/package/linux/deb/debian/control
win-linux/package/linux/deb/debian/files
win-linux/package/linux/deb/debian/*.dirs
win-linux/package/linux/deb/debian/*.install
win-linux/package/linux/deb/debian/*.links
win-linux/package/linux/deb/debian/*.substvars
win-linux/package/linux/deb/debian/postinst
win-linux/package/linux/deb/debian/postrm
win-linux/package/linux/deb/debian/prerm
win-linux/package/linux/deb/debian/rules
win-linux/package/linux/deb/i386
win-linux/package/linux/deb/amd64
win-linux/package/linux/rpm/builddir
win-linux/package/linux/apt-rpm/builddir
win-linux/package/linux/urpmi/builddir
win-linux/package/linux/tar

common/loginpage/build/node_modules/*
common/loginpage/deploy/*
common/converter/*
*/.svn/*

.DS_Store
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
.idea
.env.secret
dsa_priv.pem
Gemfile.lock
package-lock.json
macos/build
macos/fastlane/node_modules
macos/fastlane/README.md
macos/fastlane/report.xml
macos/Vendor/ONLYOFFICE