
win-linux/build/Release/*
win-linux/build/Debug/*

win-linux/*.user

common/loginpage/build/node_modules/*
common/converter/*
*/.svn/*

.DS_Store
*.xcuserstate
*.xcuserdatad
.idea
macos/Vendor/ONLYOFFICE
macos/Production/Production/ONLYOFFICE.app
*.xcscmblueprint
dsa_priv.pem