common/editors/apps/documenteditor/main/resources/help/* linguist-documentation
common/editors/apps/presentationeditor/main/resources/help/* linguist-documentation
common/editors/apps/spreadsheeteditor/main/resources/help/* linguist-documentation