<Settings>
  <file>../editors/sdkjs/common/Native/native.js</file>
  <file>../editors/sdkjs/common/Native/jquery_native.js</file>
  <file>../editors/web-apps/vendor/xregexp/xregexp-all-min.js</file>
  <file>../editors/sdkjs/common/AllFonts.js</file>
  <htmlfile>../editors/web-apps/vendor/jquery/jquery.min.js</htmlfile>
  <DoctSdk>
	<file>../editors/sdkjs/word/sdk-all-min.js</file>
	<file>../editors/sdkjs/common/libfont/js/fonts.js</file>
	<file>../editors/sdkjs/word/sdk-all.js</file>
  </DoctSdk>
  <PpttSdk>
	<file>../editors/sdkjs/slide/sdk-all-min.js</file>
	<file>../editors/sdkjs/common/libfont/js/fonts.js</file>
	<file>../editors/sdkjs/slide/sdk-all.js</file>
  </PpttSdk>
  <XlstSdk>
	<file>../editors/sdkjs/cell/sdk-all-min.js</file>
	<file>../editors/sdkjs/common/libfont/js/fonts.js</file>
	<file>../editors/sdkjs/cell/sdk-all.js</file>
  </XlstSdk>
  <htmlnoxvfb/>
</Settings>
