<Settings>
  <file>../editors/sdk/Common/Native/native.js</file>
  <file>../editors/sdk/Common/Native/jquery_native.js</file>
  <file>../editors/vendor/xregexp/xregexp-all-min.js</file>
  <file>../editors/sdk/Common/AllFonts.js</file>
  <htmlfile>../editors/vendor/jquery/jquery.min.js</htmlfile>
  <DoctSdk>../editors/sdk/Word/sdk-all.js</DoctSdk>
  <PpttSdk>../editors/sdk/PowerPoint/sdk-all.js</PpttSdk>
  <XlstSdk>../editors/sdk/Excel/sdk-all.js</XlstSdk>
</Settings>