.box-connection-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-connection-error.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.box-connection-error svg.icon {
    width: 300px;
    height: 300px;
    /* margin-bottom: 20px; */
}

.box-connection-error .description {
    margin: 20px 0;
    color: var(--text-normal, "#444");
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 20px;
    max-width: 800px;
}

.theme-type-dark .box-connection-error .description {
}

.box-connection-error .description__short {
    font-size: 20px;
}
