[Desktop Entry]
Version=1.0
Name=Desktop Editors
Type=Application
GenericName=IvolgaPro Desktop Editors
Comment=Edit office documents
Exec=/usr/bin/desktopeditors
Terminal=false
Icon=asc-de
Categories=Office;
#MimeType=text/txt;

Actions=NewEditor;
[Desktop Action NewEditor]
Name=New Editor
Exec=/usr/bin/desktopeditors

