[Desktop Entry]
Version=1.0
Name=Ivolga Pro
Type=Application
GenericName=Ivolga Pro Desktop Editors
Comment=Edit office documents
Exec=/usr/bin/ivolgapro
Terminal=false
Icon=asc-de
Categories=Office;
#MimeType=text/txt;

Actions=NewEditor;
[Desktop Action NewEditor]
Name=New Editor
Exec=/usr/bin/ivolgapro

