Package: {{PACKAGE_NAME}}
Version: {{PACKAGE_VERSION}}
Architecture: amd64
Section: editors
Maintainer: Ascensio System SIA <support@onlyoffice.com>
#Source: ca-certificates-local
#Build-Depends: debhelper (>= 8.0.0)
Pre-Depends: dpkg (>= 1.14.0)
Depends: x11-common, libxss1, libcurl3, libgtkglext1 (>=1.0), libcairo2, libstdc++6 (>=4.8), fonts-dejavu, fonts-opensymbol
Recommends: fonts-liberation, ttf-mscorefonts-installer, fonts-crosextra-carlito, fonts-takao-gothic 
#Standards-Version: 3.9.4
Priority: optional
Installed-Size: 183024
Description: ONLYOFFICE DesktopEditors installation package
 ONLYOFFICE DesktopEditors is an application for editing office documents (text documents, spreadsheets and presentations) from onlyoffice cloud portal on local computer without browser using.

