
:root {
    .theme-dark {
        --background-normal: #333;
        --background-tabbar: #404040;
        --background-button: #333;
        --background-primary-button: #ddd;
        --background-accent-button: #3483db;
        --background-scrim: fade(#000, 60%);
        --background-scroll-thumb: #555;

        --highlight-button-hover: #555;
        --highlight-button-pressed: #606060;
        --highlight-button-pressed-hover: #808080;
        --highlight-accent-button-hover: #5293e2;
        --highlight-accent-button-pressed: #3475c5;
        --highlight-primary-button-hover: #e5e5e5;
        --highlight-primary-button-pressed: #e5e5e5;
        --highlight-header-button-hover: fade(#000, 20%);
        --highlight-text-select: #96c8fd;
        --highlight-scroll-thumb-hover: #606060;
        --highlight-scroll-track-hover: fade(#fff, 3%);

        --border-tabbar: #2a2a2a;
        --border-divider: #505050;
        --border-regular-control: #666666;
        --border-control-focus: #ccc;
        --border-error: #f62211;

        --text-normal: fade(#fff, 80%);
        --text-normal-pressed: fade(#fff, 80%);
        --text-secondary: fade(#fff, 60%);
        --text-tertiary: fade(#fff, 40%);
        --text-link: #acbfff;
        --text-inverse: #333;
        --text-contrast-background: #fff;

        --icon-normal: fade(#fff, 80%);

        --disabled-element-opacity: .3;
        --theme-inverted-image-filter: invert(1);
    }
}
