:root {
  .theme-gray {
    --background-normal: #f7f7f7;
    --background-action-panel: #fff;

    --highlight-button-hover: #e0e0e0;
    --highlight-button-pressed: #c8cacc;

    --text-normal: fade(#000, 80%);
    --text-normal-pressed: fade(#000, 80%);
    --text-secondary: fade(#000, 60%);
    --text-tertiary: fade(#000, 40%);
  }
}
