
:root {
    .theme-classic-light {
        /*--background-normal: #fff;*/
        /*--background-tabbar: #f7f7f7;*/
        /*--background-button: #fff;*/
        /*--background-accent-button: #3483db;*/
        --background-primary-button: #a5a5a5;
        /*--background-scroll-thumb: #e0e0e0;*/

        --highlight-button-hover: #ebebeb;
        --highlight-button-pressed: #f5f5f5;
        --highlight-button-pressed-hover: #7d858c;
        /*--highlight-accent-button-hover: #5293e2;*/
        /*--highlight-accent-button-pressed: #3475c5;*/
        --highlight-primary-button-hover: #c3c3c3;
        --highlight-primary-button-pressed: #ccc;
        /*--highlight-header-button-hover: fade(#fff, 20%);*/
        /*--highlight-text-select: #3494fb;*/
        /*--highlight-scroll-thumb-hover: #ccc;*/
        /*--highlight-scroll-track-hover: fade(#000, 3%);*/

        /*--border-tabbar: #cbcbcb;*/
        --border-divider: #cbcbcb;
        --border-regular-control: #cfcfcf;
        --border-control-focus: #848484;

        --text-normal: #444;
        --text-normal-pressed: #444;
        --text-secondary: #a5a5a5;
        --text-tertiary: #a5a5a5;
        /*--text-link: #445799;*/
        /*--text-inverse: #fff;*/
        /*--text-contrast-background: #fff;*/

        /*--icon-normal: fade(#000, 80%);*/
        /*--icon-notification-badge: #000;*/

        /*--disabled-element-opacity: .4;*/
        /*--theme-inverted-image-filter: none;*/
    }
}
