
@title-height: 40px;

dialog {
    visibility: hidden;
    transform: scale(0.8);
    transition: transform 200ms;
    &.scaled {
        visibility: visible;
        transform: scale(1);
    }

    padding: 0;
    background: #fff;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 2px 6px @color-gray;
    border: 1px solid @color-gray-2;

    &::backdrop {
        background-color: transparent;
    }

    .title {
        height: @title-height;
        border-bottom: 1px solid @color-gray-2;
        display: flex;
        color: @color-gray-dark;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 24px;
        background: @color-gray-2;

        .caption {
            flex:1;
            text-align: left;
            font-size: 18px;
        }
    }

    .body {
        /*position: absolute;*/
        width: 100%;
        top: @title-height;
        bottom: 0;
    }

    .tool.close {
        width:12px;
        height:12px;
        background-position:  -120px -138px;
        border: 1px solid @color-gray-2;
        cursor: pointer;
        float: right;

        &:hover {
            background-position-x:-130px;
        }
    }

    .separator {
        border-top: 1px solid @color-gray-3;
        margin: 24px 0;
    }
}

.tbox {
    color: @color-gray-dark;
    border: 1px solid @color-gray-3;
    width: 100%;
    outline: 0;
    background: #fff;
    font-size: 14px;
    padding: 0 15px;

    height: 36px;
    border-radius: 3px;

    &.error {
        border-color: #e3a8a7;
    }

    &:disabled {
        opacity:0.7;
    }
}

::-webkit-input-placeholder {
   color: @color-gray-light;
}

.dlg-login {
    .body {
        padding: 30px;
        /*text-align: center;*/
    }

    .tbox {
        margin: 12px 0;
    }

    .tbox.first {
        margin-top: 0;
    }

    #btn-login {
        margin-left: 30px;
    }    

    .msg-error {
        font-size: 12px;
    }

    .logo {
        margin: 10px 0 6px;
    }
}

.lr-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box-btn-login {
    margin-top: 12px;
}

#box-lbl-error {
    min-height: 25px;
}

.logo {
    width: 150px;
    height: 28px;
    /*background: data-uri('sprite.png') no-repeat 0 -198px;*/
}

.msg-error {
    color: #e82110;
    margin: 0;
    display: none;
}

.img-loader {
    content: data-uri('loader_16.gif');
    display: none;
}